/* Move down content because we have a fixed navbar that is 50px tall */
@font-face {

  font-family: 'Titillium Maps';

  src: url("../fonts/TitilliumMaps29L002.eot");

  src: local('Titillium Maps'), local('TitilliumMaps'),

    url("../fonts/TitilliumMaps29L002.otf") format("opentype"),

    url("../fonts/TitilliumMaps29L002.woff") format("woff");

}



body

{

   background-color:#000000;

  font-family: arial, helvetica, sans-serif;

  margin-top:11px;

}

