<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8" />

<title>Quickbooks Made Easy - Online</title>
  <script src="js/playlists.js"></script>
  <script type="text/javascript" src="js/angular.min.js"></script>
  <script src="js/angular-filter.js"></script>
  <script src="js/underscore.js"></script>
  <script src="js/jquery-1.11.2.min.js"></script>
  <script src="js/listctl.js"></script>
  <script type="text/javascript" src="JW610/jwplayer.js"></script>
  <script type="text/javascript">jwplayer.key="vPzrvgngEARCrxdWseTzILslTSPeRjXA1EvoGGXwEME="</script>
  <script type="text/javascript" src="js/flash_detect_min.js"></script>
  <link rel="stylesheet" href="CSS/styles.css" type="text/css"/>

<script>
document.addEventListener('keydown', function(event) {
//alert(event.keyCode);
switch(event.keyCode)
  {
  case 32:
  jwplayer().play();
  break;
  case 13:
  jwplayer().play();
  break;
  case 10:
  jwplayer().play();
  break;
}
});

window.addEventListener("resize", setDivHeight);

$(document).ready(function(){

$("#clsmenu").click(function() {
	jwplayer().pause();
	$(".menublock").toggle(500);
	$(".headerblock").toggle(500);
	$(".menublock").scrollTop();
	$(".playerbox").toggle(500);
	//$("#videoplayer").toggle(500);
	//jwplayer().play();
	setDivHeight;
	});


$("#accept1").click(function() {
	$("#disclaimer1").toggle(700);
	$("#disclaimer2").toggle(170);
	});

$("#accept2").click(function() {
	$("#disclaimer2").toggle(1200);
	$("#leftcolfixed").toggle(1000);
	$(".display").toggle(1000);
	//setDivHeight();
	});
});
window.addEventListener("resize", setDivHeight);

function setDivHeight() {
	//console.log("set height called");
	var pH = $(".sidebarright").height();
	console.log("sidebar height = " + pH);
	$(".menuright").height(pH);
	};

// Flash or iOS detection, native html5 not supported for Chrome, Firefox
function CheckFlash(){
var ab = 0;
if(FlashDetect.versionAtLeast(15, 0)){
 ab = 1;
 loadFlash(ab);
 } else {
 pl = navigator.platform;
 ua = navigator.userAgent;
 if ((ua.indexOf("Chrome") < 0) && (ua.indexOf("Firefox") < 0))
 {
 ab = 2;
 loadHLS(ab);
 } else {
 document.getElementById("feedback").style.color = 'black';
 document.getElementById("feedback").innerHTML ="Flash must be enabled to view this video, unless viewing on an iOS device." ;
 }
 }};

function loadVideo(num) {
num = parseInt(num)
//alert(num);
$(".menublock").toggle(500);
$(".headerblock").toggle(500);
$(".playerbox").toggle(500);
//alert(num);
jwplayer().playlistItem(num);
curr= jwplayer().getPlaylistItem().chapter + ': ' + jwplayer().getPlaylistItem().title;
$("#currentplay").text(curr);
};

function setText() {
colsole.log("settext");
};

</script>

<!--onLoad="CheckFlash()"-->
</head>

<body onLoad="loadHLS(1);">
<div class="headerblock">
<img id="imgright" src="graphics/logo.png">
<!--<h2>Quickbooks Made Easy - Online </h2>
<div>There is a whole lot of information that might go here.<div>-->

</div>

</div>
</div>
<div id="disclaimer1" class="disclaimer">
&copy;2014 Gregg S. Bossen, CPA PC all rights reserved<br><br>The QuickBooks&reg; Made Easy-For Nonprofits&#8482; software programs (the “Software”) is the property of Gregg S. Bossen, CPA PC and is protected by copyright laws and international copyright treaties. You may not reproduce, modify, sell, distribute or prepare derivative works based on the software or its documentation without prior written permission of Gregg S. Bossen, CPA PC.
<br><br>Gregg S. Bossen, CPA PC shall not be liable for any errors or delays in content, or for any actions taken in reference thereon.<br><br>
By running the software, you assume all risk with respect to the software and acknowledge that the software may have defects or deficiencies, and that certain features in such software may not be in subsequent releases or be available throughout all times.<br><br>
Gregg S. Bossen, CPA makes no representations about the suitability of this software or about any content or information included in the software. The software is provided “as is” without express or implied warranties, including warranties of merchantability and fitness for a particular purpose or non-infringement. Gregg S. Bossen, CPA PC shall not be liable for any losses suffered by you or any other user as a result of using the software or inability to use software.<br><br>
<button class="myButton" id="accept1">Accept & Continue</button>
</div>

<div id="disclaimer2" class="disclaimer" style="display:none">
&copy;2014 Gregg S. Bossen, CPA PC all rights reserved<br><br>The QuickBooks&reg; Made Easy-For Nonprofits&#8482; software programs (the “Software”) is the property of Gregg S. Bossen, CPA PC and is protected by copyright laws and international copyright treaties. You may not reproduce, modify, sell, distribute or prepare derivative works based on the software or its documentation without prior written permission of Gregg S. Bossen, CPA PC.
<br><br>Gregg S. Bossen, CPA PC shall not be liable for any errors or delays in content, or for any actions taken in reference thereon.<br><br>
By running the software, you assume all risk with respect to the software and acknowledge that the software may have defects or deficiencies, and that certain features in such software may not be in subsequent releases or be available throughout all times.<br><br>
Gregg S. Bossen, CPA makes no representations about the suitability of this software or about any content or information included in the software. The software is provided “as is” without express or implied warranties, including warranties of merchantability and fitness for a particular purpose or non-infringement. Gregg S. Bossen, CPA PC shall not be liable for any losses suffered by you or any other user as a result of using the software or inability to use software.<br><br>
<button class="myButton" id="accept2">Accept & Continue</button>
</div>

<div id="leftcolfixed"></div>
<div class="display">

<div class="menublock">
	<div ng-app="myApp" ng-controller="myCtrl">

	<div id="col1" class="sidebarright">
	<ul ng-model="test">
	<a href= ""><li class="navl" ng-click="filters.chapter = '' " >All Chapters</li></a>
	<a href= ""><li class="navl" ng-click="filters.chapter = chapter" ng-repeat="chapter in uniqueTags()">
	{{chapter}}
	</li></a>
	</ul>
	</div>

	<div class="menuright">
	<ul>
	<li class="nav" ng-repeat="x in plist  | filter:filters">
	<a href="" ng-click="sendVal(x.vindex)" ><div><img ng-src="{{x.image}}" alt="{{x.title}}" height="56" width="100"/>
	&nbsp;{{x.vindex}}&nbsp;&nbsp;&nbsp;{{ x.title }}</div></a></li>
	</ul>
	</div>


</div>
</div>

<!--<script>setDivHeight();</script>-->

<!-- end menublock -->

<div class="playerbox">

<div id="videoplayer">Loading the player...</div>
<div id='currentplay' >&nbsp;</div><button class="myButton" id="clsmenu">Show Menu</button>
<!-- Logging and info display -->
<script type="text/javascript">
function loadHLS(num){
if(num == 1){
//console.log(pl[1].description);
    jwplayer('videoplayer').setup({
    controls: true
    ,width: "100%"
    ,aspectratio: "16:9"
    ,playlist: pl
    });
};
};
// jwplayer('videoplayer').onPlaylistItem( function(){
// setText();
// });
</script>
<script>
jwplayer('videoplayer').onMeta(function()
{
console.log("op called");
});
</script>


<!--
<script type="text/javascript">
jwplayer('videoplayer').onLoad(function(){
alert(jwplayer('videoplayer').getPlaylist[0]);
})
</script>
<script type="text/javascript">
jwplayer('videoplayer').onPlaylist(function()
{
alert('playlist loaded');
//mydiv = document.getElementById('selectlist');
//plist = jwplayer().getPlaylist();
alert(plist);
//pcnt = plist.length;
//for(i=0; i < pcnt; i++){
//opt = document.createElement('li');
//$(opt).append($('<a href="#" onClick="loadVideo('+i+')")>'+plist[i].title+'</a>'));
//mydiv.appendChild(opt);
//};
//myitem = jwplayer().getPlaylistItem().title;
//mydiv.innerHTML=myitem;
});
</script>
 -->
 </div>
</div>

</body>
</html>